body {
  background-color: azure;
}

/* game board table */
#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
  position: relative;
  background-color: white;
  
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  animation: piecedrop;
  animation-duration: 0.5s;
}

.p1 {
  background-color: red;
}

.p2 {
  background-color: blue;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}

/* animation to drop piece from top to bottom */
@keyframes piecedrop {
  from {
    transform: translateY(-500px);
  }
  to {
    transform: translateY(0);
  }
}

#game {
  justify-content: center;
  margin: auto;
  display: block;
  width: fit-content;
}

h1 {
  text-align: center;
}

#restartbtndiv {
  text-align: center;
}